body {
    align-content: center;
    background-image: url(images/maintain.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    align-self: center;
    max-width: 960px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 15px;

}

#profile {
    background-color: rgba(176, 186, 211, 0.5);

}

#about {
    background-color: rgba(185, 145, 145, 0.5);

}

#survey {
    background-color: rgba(185, 145, 145, 0.5);
}

#contact {
    background-color: rgba(172, 163, 151, 0.5);

}

.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
.li1 {
    float: left;
}
  
.a1 {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.a1:hover {
    background-color: #111;
}

img {
    float: left;
    margin: 20px;
    border-radius:100px;
}

h1, h2, h3, h4 {
    font-family: Caesar Dressing;
    padding: 15px;
}

p, span, table {
    font-family: The Girl Next Door;
}

header {
    background-color: rgba(38, 83, 141, 0.5);
    background-image: url(images/dragon.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-blend-mode: screen;
    background-position: center;
    color: #bebebe;
}

footer {
    background-color: rgba(38, 83, 141, 0.5);
    color: #bebebe;
}

.clear {
	clear: both;
}

#question {
    border-collapse: collapse;
    margin: 25px;
  }
  
  #question td, #question th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #question tr:nth-child(even){background-color: #bebebe;}
  #question tr:nth-child(odd){background-color: #999999;}
  
  #question tr:hover {background-color: #ddd;}
  
  #question th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(95, 95, 95);
    color: white;
  }

  input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=tel], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=email], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
  input[type=submit] {
    width: 30%;
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

input[type=reset] {
    width: 30%;
    background-color: rgb(112, 0, 0);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #8f3333;
  }
  
  input[type=submit]:hover {
    background-color: #535353;
  }


.ul2 {
    background-color: rgba(172, 163, 151, 0.5);
    width: 50%;
    display: inline-block;
    margin: 25px;
    padding-bottom: 20px;
}

.ol2 {
    background-color: rgba(172, 163, 151, 0.5);
    width: 50%;
    display: inline-block;
    margin: 25px;
    margin-bottom: 25;;
    padding-bottom: 20px;
    
}

.li2 {
    width: 50%;
    padding-bottom: 20px;
    display: inline-block;
    padding: 4px;
}

#radiobuttons {
    text-align: left;
    width: 30%;
    margin-left: 45%;

}

#checkboxes {
    text-align: left;
    width: 30%;
    margin-left: 45%;

}